h1 {
  margin: 20px auto; 
}

div {
  float: left;
  height: 520px;
  margin: 3em;
  width: 325px;
  text-align: center;
  align-content: center; 
}

main {
  overflow:hidden;
}

header {
  text-align: center;
  margin: 20px auto;
  padding: 30px;
}

header #page1, #page2 {

  margin-left: 20px;
  margin-right: 20px;

}

#sortImages {
  margin-left: 20px;
  margin-right: 20px;
}

footer {
  margin: 30px auto;
}
